# Assignment 01 - Introduction of Apache Spark 
## 1. Preparation
### 1.1 Requirements

1. Operating System : Ubuntu 18.04.2 LTS
2. Apache Spark 2.3.3 Binary (https://spark.apache.org/downloads.html)
3. Python 3.6.5 (Anaconda, Inc.)
4. PySpark 2.4.0 (Apache Spark Python API)
5. Findspark 1.3.0 (Python's library)
6. Jupyter Notebook (https://jupyter.org/install)

### 1.2 Installation
* [How To Install Apache Spark on Ubuntu 18.04 LTS](https://idroot.us/linux/install-apache-spark-ubuntu-18-04-lts/)
* [Pyspark and Jupyter notebook setup in Ubuntu](https://jmedium.com/pyspark-in-python/)

### 1.3 Description of Dataset
* Dataset's name : [UK Road Safety : Traffic Accidents and Vehicles](https://www.kaggle.com/tsiaras/uk-road-safety-accidents-and-vehicles)
* Description : Detailed dataset of road accidents and involved vehicles in the UK (2005-2017). Each line represents a single traffic accident (identified by the Accident_Index column) and its various properties.
* There are two kinds of data sources in this dataset :

<table>
    <thead>
        <tr>
            <th>Data Sources</th>
            <th>Number of Rows</th>
            <th>Number of Columns</th>
            <th>Size</th>
            <th>File Format</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Accident_Information.csv</td>
            <td>2047256</td>
            <td>34</td>
            <td>705,5 MB</td>
            <td rowspan=3>CSV</td>
        </tr>
        <tr>
            <td>Vehicle_Information.csv</td>
            <td>2177205</td>
            <td>24</td>
            <td>644,4 MB</td>
        </tr>
        <tr>
            <td colspan=3>Total</td>
            <td>1,3 GB</td>
        </tr>
    </tbody>
</table>
    
## 2. Spark Initialization

In [1]:
# Import findspark to make pyspark importable as a regular library
import findspark
findspark.init('/home/mocatfrio/spark') 

# /home/mocatfrio/spark has symbolic link to /bin/spark-2.3.3-bin-hadoop2.7

In [2]:
# Import required python library
from pyspark.sql import SparkSession

# Create Spark Session
# The entry point to programming Spark with the Dataset 
spark = SparkSession \
    .builder \
    .appName("Traffic Accidents and Vehicles") \
    .getOrCreate()

In [3]:
# Print spark object ID
print(spark)

<pyspark.sql.session.SparkSession object at 0x7f2f74b5b940>

## 3. Load Dataset 
### 3.1 Accident Information

In [4]:
# Load the dataset
df_a = spark.read.csv("/home/mocatfrio/Documents/big-data/tugas-1/Accident_Information.csv", header=True, inferSchema=True)

In [5]:
# Print top 20 rows data
df_a.show()

+--------------+--------------+---------------+--------------+---------------+-----------------+-------------------+-------------------+-----------+-------------------------------------------+--------------------+--------------------+---------+--------------------+--------------------------+-------------------------+---------------------+----------------------+---------+-------------------------+--------------------+------------------+---------------------------------+---------------------------------------+-------------------+-----------------------+------------------+--------------------------+-----------+-----+-------------------+--------------------+----+----------+
|Accident_Index|1st_Road_Class|1st_Road_Number|2nd_Road_Class|2nd_Road_Number|Accident_Severity|Carriageway_Hazards|               Date|Day_of_Week|Did_Police_Officer_Attend_Scene_of_Accident|    Junction_Control|     Junction_Detail| Latitude|    Light_Conditions|Local_Authority_(District)|Local_Authority_(Highway)|Location_Easting_OSGR|Location_Northing_OSGR|Longitude|LSOA_of_Accident_Location|Number_of_Casualties|Number_of_Vehicles|Pedestrian_Crossing-Human_Control|Pedestrian_Crossing-Physical_Facilities|       Police_Force|Road_Surface_Conditions|         Road_Type|Special_Conditions_at_Site|Speed_limit| Time|Urban_or_Rural_Area|  Weather_Conditions|Year|InScotland|
+--------------+--------------+---------------+--------------+---------------+-----------------+-------------------+-------------------+-----------+-------------------------------------------+--------------------+--------------------+---------+--------------------+--------------------------+-------------------------+---------------------+----------------------+---------+-------------------------+--------------------+------------------+---------------------------------+---------------------------------------+-------------------+-----------------------+------------------+--------------------------+-----------+-----+-------------------+--------------------+----+----------+
| 200501BS00001|             A|           3218|            NA|              0|          Serious|               None|2005-01-04 00:00:00|    Tuesday|                                          1|Data missing or o...|Not at junction o...|51.489096|            Daylight|      Kensington and Ch...|     Kensington and Ch...|               525680|                178240| -0.19117|                E01002849|                   1|                 1|                                0|                                      1|Metropolitan Police|            Wet or damp|Single carriageway|                      None|         30|17:42|              Urban|Raining no high w...|2005|        No|
| 200501BS00002|             B|            450|             C|              0|           Slight|               None|2005-01-05 00:00:00|  Wednesday|                                          1| Auto traffic signal|          Crossroads|51.520075|Darkness - lights...|      Kensington and Ch...|     Kensington and Ch...|               524170|                181650|-0.211708|                E01002909|                   1|                 1|                                0|                                      5|Metropolitan Police|                    Dry|  Dual carriageway|                      None|         30|17:36|              Urban|  Fine no high winds|2005|        No|
| 200501BS00003|             C|              0|            NA|              0|           Slight|               None|2005-01-06 00:00:00|   Thursday|                                          1|Data missing or o...|Not at junction o...|51.525301|Darkness - lights...|      Kensington and Ch...|     Kensington and Ch...|               524520|                182240|-0.206458|                E01002857|                   1|                 2|                                0|                                      0|Metropolitan Police|                    Dry|Single carriageway|                      None|         30|00:15|              Urban|  Fine no high winds|2005|        No|
| 200501BS00004|             A|           3220|            NA|              0|           Slight|               None|2005-01-07 00:00:00|     Friday|                                          1|Data missing or o...|Not at junction o...|51.482442|            Daylight|      Kensington and Ch...|     Kensington and Ch...|               526900|                177530|-0.173862|                E01002840|                   1|                 1|                                0|                                      0|Metropolitan Police|                    Dry|Single carriageway|                      None|         30|10:35|              Urban|  Fine no high winds|2005|        No|
| 200501BS00005|  Unclassified|              0|            NA|              0|           Slight|               None|2005-01-10 00:00:00|     Monday|                                          1|Data missing or o...|Not at junction o...|51.495752|Darkness - lighti...|      Kensington and Ch...|     Kensington and Ch...|               528060|                179040|-0.156618|                E01002863|                   1|                 1|                                0|                                      0|Metropolitan Police|            Wet or damp|Single carriageway|                      None|         30|21:13|              Urban|  Fine no high winds|2005|        No|
| 200501BS00006|  Unclassified|              0|            NA|              0|           Slight|               None|2005-01-11 00:00:00|    Tuesday|                                          1|Data missing or o...|Not at junction o...| 51.51554|            Daylight|      Kensington and Ch...|     Kensington and Ch...|               524770|                181160|-0.203238|                E01002832|                   1|                 2|                                0|                                      0|Metropolitan Police|            Wet or damp|Single carriageway|             Oil or diesel|         30|12:40|              Urban|Raining no high w...|2005|        No|
| 200501BS00007|             C|              0|  Unclassified|              0|           Slight|               None|2005-01-13 00:00:00|   Thursday|                                          1|Give way or uncon...|T or staggered ju...|51.512695|Darkness - lights...|      Kensington and Ch...|     Kensington and Ch...|               524220|                180830|-0.211277|                E01002875|                   1|                 2|                                0|                                      0|Metropolitan Police|                    Dry|Single carriageway|                      None|         30|20:40|              Urban|  Fine no high winds|2005|        No|
| 200501BS00009|             A|            315|            NA|              0|           Slight|               None|2005-01-14 00:00:00|     Friday|                                          1|Data missing or o...|Not at junction o...| 51.50226|            Daylight|      Kensington and Ch...|     Kensington and Ch...|               525890|                179710|-0.187623|                E01002889|                   2|                 1|                                0|                                      0|Metropolitan Police|                    Dry|  Dual carriageway|                      None|         30|17:35|              Urban|  Fine no high winds|2005|        No|
| 200501BS00010|             A|           3212|             B|            304|           Slight|               None|2005-01-15 00:00:00|   Saturday|                                          1| Auto traffic signal|          Crossroads| 51.48342|Darkness - lights...|      Kensington and Ch...|     Kensington and Ch...|               527350|                177650|-0.167342|                E01002900|                   2|                 2|                                0|                                      5|Metropolitan Police|                    Dry|Single carriageway|                      None|         30|22:43|              Urban|  Fine no high winds|2005|        No|
| 200501BS00011|             B|            450|             C|              0|           Slight|               None|2005-01-15 00:00:00|   Saturday|                                          1|Give way or uncon...|T or staggered ju...|51.512443|            Daylight|      Kensington and Ch...|     Kensington and Ch...|               524550|                180810|-0.206531|                E01002875|                   5|                 2|                                0|                                      8|Metropolitan Police|                    Dry|Single carriageway|                      None|         30|16:00|              Urban|  Fine no high winds|2005|        No|
| 200501BS00012|             A|              4|             B|            325|           Slight|               None|2005-01-16 00:00:00|     Sunday|                                          1| Auto traffic signal|          Crossroads|51.494902|Darkness - lights...|      Kensington and Ch...|     Kensington and Ch...|               526240|                178900|-0.182872|                E01002835|                   1|                 1|                                0|                                      5|Metropolitan Police|                    Dry|Single carriageway|                      None|         30|00:42|              Urban|  Fine no high winds|2005|        No|
| 200501BS00014|             A|           3220|             A|            308|           Slight|               None|2005-01-25 00:00:00|    Tuesday|                                          1| Auto traffic signal|          Crossroads|51.484044|Darkness - lights...|      Kensington and Ch...|     Kensington and Ch...|               526170|                177690|-0.184312|                E01002912|                   1|                 2|                                0|                                      5|Metropolitan Police|            Wet or damp|Single carriageway|                      None|         30|20:48|              Urban|  Fine no high winds|2005|        No|
| 200501BS00015|  Unclassified|              0|             A|           3220|           Slight|               None|2005-01-11 00:00:00|    Tuesday|                                          1|Give way or uncon...|T or staggered ju...|51.491632|            Daylight|      Kensington and Ch...|     Kensington and Ch...|               525590|                178520|-0.192366|                E01002849|                   1|                 1|                                0|                                      1|Metropolitan Police|            Wet or damp|    One way street|                      None|         30|12:55|              Urban|Raining no high w...|2005|        No|
| 200501BS00016|             A|           3217|             A|           3216|           Slight|               None|2005-01-18 00:00:00|    Tuesday|                                          1|Give way or uncon...|T or staggered ju...|51.492622|Darkness - lights...|      Kensington and Ch...|     Kensington and Ch...|               527990|                178690|-0.157753|                E01002902|                   1|                 2|                                0|                                      0|Metropolitan Police|            Wet or damp|    One way street|                      None|         30|05:01|              Urban|Raining no high w...|2005|        No|
| 200501BS00017|             A|              4|            NA|              0|           Slight|               None|2005-01-18 00:00:00|    Tuesday|                                          1|Data missing or o...|Not at junction o...|51.495429|            Daylight|      Kensington and Ch...|     Kensington and Ch...|               526700|                178970|-0.176224|                E01002821|                   2|                 1|                                0|                                      0|Metropolitan Police|                    Dry|  Dual carriageway|                      None|         30|11:15|              Urban|  Fine no high winds|2005|        No|
| 200501BS00018|             A|           3217|  Unclassified|              0|           Slight|               None|2005-01-18 00:00:00|    Tuesday|                                          1|Give way or uncon...|T or staggered ju...|51.481912|            Daylight|      Kensington and Ch...|     Kensington and Ch...|               526460|                177460| -0.18022|                E01002840|                   1|                 1|                                0|                                      1|Metropolitan Police|                    Dry|Single carriageway|                      None|         30|10:50|              Urban|  Fine no high winds|2005|        No|
| 200501BS00019|  Unclassified|              0|  Unclassified|              0|          Serious|               None|2005-01-20 00:00:00|   Thursday|                                          1|Give way or uncon...|T or staggered ju...|51.500191|Darkness - lights...|      Kensington and Ch...|     Kensington and Ch...|               524680|                179450|-0.205139|                E01002864|                   1|                 2|                                0|                                      0|Metropolitan Police|                    Dry|Single carriageway|                      None|         30|00:15|              Urban|  Fine no high winds|2005|        No|
| 200501BS00020|             A|           3218|             A|              4|           Slight|               None|2005-01-21 00:00:00|     Friday|                                          1|Give way or uncon...|T or staggered ju...|51.495811|            Daylight|      Kensington and Ch...|     Kensington and Ch...|               527000|                179020|-0.171887|                E01002821|                   1|                 2|                                0|                                      0|Metropolitan Police|                    Dry|Single carriageway|                      None|         30|09:15|              Urban|  Fine no high winds|2005|        No|
| 200501BS00021|             B|            302|            NA|              0|           Slight|               None|2005-01-21 00:00:00|     Friday|                                          1|Data missing or o...|Not at junction o...|51.486552|Darkness - lights...|      Kensington and Ch...|     Kensington and Ch...|               527810|                178010| -0.16059|                E01002901|                   1|                 2|                                0|                                      0|Metropolitan Police|                    Dry|Single carriageway|                      None|         30|21:16|              Urban|  Fine no high winds|2005|        No|
| 200501BS00022|             A|              4|  Unclassified|              0|          Serious|               None|2005-01-08 00:00:00|   Saturday|                                          1|Give way or uncon...|T or staggered ju...|51.495498|Darkness - lights...|      Kensington and Ch...|     Kensington and Ch...|               526790|                178980|-0.174925|                E01002821|                   1|                 1|                                0|                                      0|Metropolitan Police|                    Dry|Single carriageway|                      None|         30|03:00|              Urban|  Fine no high winds|2005|        No|
+--------------+--------------+---------------+--------------+---------------+-----------------+-------------------+-------------------+-----------+-------------------------------------------+--------------------+--------------------+---------+--------------------+--------------------------+-------------------------+---------------------+----------------------+---------+-------------------------+--------------------+------------------+---------------------------------+---------------------------------------+-------------------+-----------------------+------------------+--------------------------+-----------+-----+-------------------+--------------------+----+----------+
only showing top 20 rows

In [6]:
# Count data rows
df_a.count()

2047256

In [7]:
# inferSchema is used to inference the actual datatype of columns, especially for dates and timestamp
df_a.printSchema()

root
 |-- Accident_Index: string (nullable = true)
 |-- 1st_Road_Class: string (nullable = true)
 |-- 1st_Road_Number: string (nullable = true)
 |-- 2nd_Road_Class: string (nullable = true)
 |-- 2nd_Road_Number: string (nullable = true)
 |-- Accident_Severity: string (nullable = true)
 |-- Carriageway_Hazards: string (nullable = true)
 |-- Date: timestamp (nullable = true)
 |-- Day_of_Week: string (nullable = true)
 |-- Did_Police_Officer_Attend_Scene_of_Accident: string (nullable = true)
 |-- Junction_Control: string (nullable = true)
 |-- Junction_Detail: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Light_Conditions: string (nullable = true)
 |-- Local_Authority_(District): string (nullable = true)
 |-- Local_Authority_(Highway): string (nullable = true)
 |-- Location_Easting_OSGR: string (nullable = true)
 |-- Location_Northing_OSGR: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- LSOA_of_Accident_Location: string (nullable = true)
 |-- Number_of_Casualties: integer (nullable = true)
 |-- Number_of_Vehicles: integer (nullable = true)
 |-- Pedestrian_Crossing-Human_Control: string (nullable = true)
 |-- Pedestrian_Crossing-Physical_Facilities: string (nullable = true)
 |-- Police_Force: string (nullable = true)
 |-- Road_Surface_Conditions: string (nullable = true)
 |-- Road_Type: string (nullable = true)
 |-- Special_Conditions_at_Site: string (nullable = true)
 |-- Speed_limit: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- Urban_or_Rural_Area: string (nullable = true)
 |-- Weather_Conditions: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- InScotland: string (nullable = true)

In [8]:
# Register the dataframe as a SQL temporary view
df_a.createOrReplaceTempView("traffic_accidents")

In [9]:
# SQL Query to find the type of accident severity 
result = spark.sql("SELECT DISTINCT Accident_Severity FROM traffic_accidents")

In [10]:
result.show()

+-----------------+
|Accident_Severity|
+-----------------+
|           Slight|
|            Fatal|
|          Serious|
+-----------------+

### 3.2 Vehicle Information

In [11]:
# Load the dataset
df_v = spark.read.csv("/home/mocatfrio/Documents/big-data/tugas-1/Vehicle_Information.csv", header=True, inferSchema=True)

In [12]:
# Print top 20 rows data
df_v.show()

+--------------+--------------------+--------------+---------------------+-----------------+--------------------+-------------------------+--------------------------+-------------------------+--------------------+----------------+--------------------+---------------+-------------+------------------------+-----------------------+---------------------------+--------------------------------+--------------------+-----------------+--------------------+---------------------------+--------------------+----+
|Accident_Index|  Age_Band_of_Driver|Age_of_Vehicle|Driver_Home_Area_Type|Driver_IMD_Decile|Engine_Capacity_.CC.|Hit_Object_in_Carriageway|Hit_Object_off_Carriageway|Journey_Purpose_of_Driver|   Junction_Location|            make|               model|Propulsion_Code|Sex_of_Driver|Skidding_and_Overturning|Towing_and_Articulation|Vehicle_Leaving_Carriageway|Vehicle_Location.Restricted_Lane|   Vehicle_Manoeuvre|Vehicle_Reference|        Vehicle_Type|Was_Vehicle_Left_Hand_Drive|X1st_Point_of_Impact|Year|
+--------------+--------------------+--------------+---------------------+-----------------+--------------------+-------------------------+--------------------------+-------------------------+--------------------+----------------+--------------------+---------------+-------------+------------------------+-----------------------+---------------------------+--------------------------------+--------------------+-----------------+--------------------+---------------------------+--------------------+----+
| 200401BS00001|             26 - 35|             3|           Urban area|                4|                1588|                     None|                      None|     Data missing or o...|Data missing or o...|           ROVER|      45 CLASSIC 16V|         Petrol|         Male|                    None|    No tow/articulation|       Did not leave car...|                               0|   Going ahead other|                2|                 109|       Data missing or o...|               Front|2004|
| 200401BS00002|             26 - 35|            NA|           Urban area|                3|                  NA|                     None|                      None|     Data missing or o...|Data missing or o...|             BMW|                  C1|             NA|         Male|                    None|    No tow/articulation|       Did not leave car...|                               0|   Going ahead other|                1|                 109|       Data missing or o...|               Front|2004|
| 200401BS00003|             26 - 35|             4| Data missing or o...|               NA|                 998|                     None|                      None|     Data missing or o...|Data missing or o...|          NISSAN|MICRA CELEBRATION...|         Petrol|         Male|                    None|    No tow/articulation|       Did not leave car...|                               0|       Turning right|                1|                 109|       Data missing or o...|               Front|2004|
| 200401BS00003|             66 - 75|            NA| Data missing or o...|               NA|                  NA|                     None|                      None|     Data missing or o...|Data missing or o...|LONDON TAXIS INT|      TXII GOLD AUTO|             NA|         Male|                    None|    No tow/articulation|       Did not leave car...|                               0|   Going ahead other|                2|                 109|       Data missing or o...|               Front|2004|
| 200401BS00004|             26 - 35|             1|           Urban area|                4|                 124|                     None|                      None|     Data missing or o...|Data missing or o...|         PIAGGIO|           VESPA ET4|         Petrol|         Male|                    None|    No tow/articulation|       Did not leave car...|                               0|   Going ahead other|                1|Motorcycle 125cc ...|       Data missing or o...|               Front|2004|
| 200401BS00004|             36 - 45|            10| Data missing or o...|               NA|                1781|                     None|                      None|     Data missing or o...|Data missing or o...|      VOLKSWAGEN|                null|         Petrol|         Male|                    None|    No tow/articulation|       Did not leave car...|                               0|              U-turn|                2|                 109|       Data missing or o...|             Offside|2004|
| 200401BS00009|             26 - 35|            NA|           Urban area|                4|                  NA|                     None|                      None|     Data missing or o...|Data missing or o...|         PIAGGIO|        VESPA GT 125|             NA|         Male|                 Skidded|    No tow/articulation|       Did not leave car...|                               0|   Going ahead other|                1|Motorcycle 125cc ...|       Data missing or o...|      Did not impact|2004|
| 200401BS00010|             36 - 45|            NA|           Urban area|                8|                  NA|                     None|                      None|     Data missing or o...|Data missing or o...|             BMW|            R1100 RT|             NA|         Male|                    None|    No tow/articulation|       Did not leave car...|                               0|       Turning right|                1|                 109|       Data missing or o...|               Front|2004|
| 200401BS00012|             46 - 55|             3| Data missing or o...|               NA|                2685|                     None|                      None|     Data missing or o...|Data missing or o...|        MERCEDES|                null|      Heavy oil|         Male|                    None|    No tow/articulation|       Did not leave car...|                               0| Slowing or stopping|                1|                 109|       Data missing or o...|                Back|2004|
| 200401BS00013|             26 - 35|             4|           Urban area|                6|                2300|                     None|                      None|     Data missing or o...|Data missing or o...|      VOLKSWAGEN|             GOLF V5|         Petrol|       Female|                    None|    No tow/articulation|       Did not leave car...|                               0|       Turning right|                1|                 109|       Data missing or o...|             Offside|2004|
| 200401BS00013|             21 - 25|             3|           Urban area|                8|                2402|                     None|                      None|     Data missing or o...|Data missing or o...|            FORD|  TRANSIT 350 LWB TD|      Heavy oil|         Male|                    None|    No tow/articulation|       Did not leave car...|                               0|Going ahead right...|                2|Van / Goods 3.5 t...|       Data missing or o...|               Front|2004|
| 200401BS00021|             36 - 45|             2| Data missing or o...|               NA|                8268|                     None|                      None|     Data missing or o...|Data missing or o...|          DENNIS|                null|      Heavy oil|         Male|                    None|    No tow/articulation|       Did not leave car...|                               0|   Going ahead other|                2|Bus or coach (17 ...|       Data missing or o...|            Nearside|2004|
| 200401BS00022|             36 - 45|            11| Data missing or o...|               NA|                1998|                     None|                      None|     Data missing or o...|Data missing or o...|        VAUXHALL|    CAVALIER LS AUTO|         Petrol|         Male|                    None|    No tow/articulation|       Did not leave car...|                               0|   Going ahead other|                1|                 109|       Data missing or o...|               Front|2004|
| 200401BS00028|Data missing or o...|             6| Data missing or o...|               NA|                  NA|                     None|                      None|     Data missing or o...|Data missing or o...|          DENNIS|                null|      Heavy oil|    Not known|                    None|    No tow/articulation|       Did not leave car...|                               0|          Moving off|                1|Bus or coach (17 ...|       Data missing or o...|            Nearside|2004|
| 200401BS00030|Data missing or o...|             1|           Urban area|               10|                6370|                     None|                      None|     Data missing or o...|Data missing or o...|        MERCEDES|                null|      Heavy oil|         Male|                    None|    No tow/articulation|       Did not leave car...|                               0|   Going ahead other|                2|Goods 7.5 tonnes ...|       Data missing or o...|               Front|2004|
| 200401BS00033|Data missing or o...|            NA| Data missing or o...|               NA|                  NA|                     None|                      None|     Data missing or o...|Data missing or o...|             MAN|                null|             NA|    Not known|                    None|    No tow/articulation|       Did not leave car...|                               0|   Going ahead other|                2|Goods 7.5 tonnes ...|       Data missing or o...|            Nearside|2004|
| 200401BS00038|             26 - 35|             6|           Urban area|                8|                1984|                     None|                      None|     Data missing or o...|Data missing or o...|      VOLKSWAGEN|        GOLF GL AUTO|         Petrol|         Male|                    None|    No tow/articulation|       Did not leave car...|                               0|       Turning right|                2|                 109|       Data missing or o...|               Front|2004|
| 200401BS00041|             16 - 20|            NA|           Urban area|                7|                  NA|                     None|                      None|     Data missing or o...|Data missing or o...|         PIAGGIO|           VESPA ET4|             NA|         Male|                    None|    No tow/articulation|       Did not leave car...|                               0|   Going ahead other|                1|Motorcycle 125cc ...|       Data missing or o...|Data missing or o...|2004|
| 200401BS00044|Data missing or o...|             6|           Urban area|                5|                2664|                     None|                      None|     Data missing or o...|Data missing or o...|LONDON TAXIS INT|     TX1 BRONZE AUTO|      Heavy oil|       Female|                    None|    No tow/articulation|       Did not leave car...|                               0|          Moving off|                2|                 108|       Data missing or o...|             Offside|2004|
| 200401BS00045|             36 - 45|             2| Data missing or o...|               NA|                2979|                     None|                      None|     Data missing or o...|Data missing or o...|             BMW|   330 CI SPORT AUTO|         Petrol|         Male|                    None|    No tow/articulation|       Did not leave car...|                               0|Waiting to go - h...|                1|                 109|       Data missing or o...|                Back|2004|
+--------------+--------------------+--------------+---------------------+-----------------+--------------------+-------------------------+--------------------------+-------------------------+--------------------+----------------+--------------------+---------------+-------------+------------------------+-----------------------+---------------------------+--------------------------------+--------------------+-----------------+--------------------+---------------------------+--------------------+----+
only showing top 20 rows

In [13]:
# Count data rows
df_v.count()

2177205

In [14]:
# inferSchema is used to inference the actual datatype of columns, especially for dates and timestamp
df_v.printSchema()

root
 |-- Accident_Index: string (nullable = true)
 |-- Age_Band_of_Driver: string (nullable = true)
 |-- Age_of_Vehicle: string (nullable = true)
 |-- Driver_Home_Area_Type: string (nullable = true)
 |-- Driver_IMD_Decile: string (nullable = true)
 |-- Engine_Capacity_.CC.: string (nullable = true)
 |-- Hit_Object_in_Carriageway: string (nullable = true)
 |-- Hit_Object_off_Carriageway: string (nullable = true)
 |-- Journey_Purpose_of_Driver: string (nullable = true)
 |-- Junction_Location: string (nullable = true)
 |-- make: string (nullable = true)
 |-- model: string (nullable = true)
 |-- Propulsion_Code: string (nullable = true)
 |-- Sex_of_Driver: string (nullable = true)
 |-- Skidding_and_Overturning: string (nullable = true)
 |-- Towing_and_Articulation: string (nullable = true)
 |-- Vehicle_Leaving_Carriageway: string (nullable = true)
 |-- Vehicle_Location.Restricted_Lane: string (nullable = true)
 |-- Vehicle_Manoeuvre: string (nullable = true)
 |-- Vehicle_Reference: integer (nullable = true)
 |-- Vehicle_Type: string (nullable = true)
 |-- Was_Vehicle_Left_Hand_Drive: string (nullable = true)
 |-- X1st_Point_of_Impact: string (nullable = true)
 |-- Year: integer (nullable = true)

In [15]:
# Register the dataframe as a SQL temporary view
df_v.createOrReplaceTempView("vehicle")

In [16]:
# SQL Query to find the vehicle type
result = spark.sql("SELECT DISTINCT Vehicle_Type FROM vehicle")

In [17]:
result.show()

+--------------------+
|        Vehicle_Type|
+--------------------+
|Motorcycle - unkn...|
|Motorcycle over 5...|
|Agricultural vehicle|
|Taxi/Private hire...|
|                 Car|
|Goods over 3.5t. ...|
|Minibus (8 - 16 p...|
| Electric motorcycle|
|    Mobility scooter|
|                Tram|
|Goods vehicle - u...|
|                 108|
|Motorcycle 125cc ...|
|                 106|
|       Other vehicle|
|Motorcycle 50cc a...|
|        Ridden horse|
|Motorcycle over 1...|
|Bus or coach (17 ...|
|Van / Goods 3.5 t...|
+--------------------+
only showing top 20 rows

## 4. Simple Data Mining Process

In [18]:
#1. Count the number of accidents in September

query1 = spark.sql("SELECT COUNT(*) \
                    FROM traffic_accidents \
                    WHERE MONTH(`Date`) = 9")
query1.show()

+--------+
|count(1)|
+--------+
|  176016|
+--------+

In [19]:
#2. Count the number of accidents every day in September

query2 = spark.sql("SELECT TO_DATE(`Date`, 'MM/DD/YYYY') AS date, COUNT(`Date`) as `Number of Accidents` \
                    FROM traffic_accidents \
                    WHERE MONTH(`Date`) = 9 \
                    GROUP BY `Date` \
                    ORDER BY `Date` ASC")
query2.show()

+----------+-------------------+
|      date|Number of Accidents|
+----------+-------------------+
|2005-09-01|                518|
|2005-09-02|                654|
|2005-09-03|                494|
|2005-09-04|                449|
|2005-09-05|                450|
|2005-09-06|                502|
|2005-09-07|                575|
|2005-09-08|                618|
|2005-09-09|                602|
|2005-09-10|                599|
|2005-09-11|                364|
|2005-09-12|                552|
|2005-09-13|                548|
|2005-09-14|                511|
|2005-09-15|                743|
|2005-09-16|                692|
|2005-09-17|                553|
|2005-09-18|                348|
|2005-09-19|                496|
|2005-09-20|                554|
+----------+-------------------+
only showing top 20 rows

In [20]:
#3. Count the number of accidents every year

query3 = spark.sql("SELECT `Year`, COUNT(`Year`) as `Number of Accidents` \
                    FROM traffic_accidents \
                    GROUP BY `Year` \
                    ORDER BY `Year` ASC")
query3.show()

+----+-------------------+
|Year|Number of Accidents|
+----+-------------------+
|2005|             198735|
|2006|             189161|
|2007|             182115|
|2008|             170591|
|2009|             163554|
|2010|             154414|
|2011|             151474|
|2012|             145571|
|2013|             138660|
|2014|             146322|
|2015|             140056|
|2016|             136621|
|2017|             129982|
+----+-------------------+

In [21]:
#4. Count the number of accidents every day

query4 = spark.sql("SELECT `Day_of_Week`, COUNT(`Day_of_Week`) as `Number of Accidents` \
                    FROM traffic_accidents \
                    GROUP BY `Day_of_Week` \
                    ORDER BY `Number of Accidents` DESC")
query4.show()

+-----------+-------------------+
|Day_of_Week|Number of Accidents|
+-----------+-------------------+
|     Friday|             335183|
|  Wednesday|             308580|
|   Thursday|             308240|
|    Tuesday|             306292|
|     Monday|             290482|
|   Saturday|             273152|
|     Sunday|             225327|
+-----------+-------------------+

In [22]:
#5. Find out the effect of road surface conditions on the severity of accidents

query5 = spark.sql("SELECT `Road_Surface_Conditions`, `Accident_Severity`, COUNT(Accident_Severity) as `Number of Accidents` \
                    FROM traffic_accidents \
                    GROUP BY `Road_Surface_Conditions`, `Accident_Severity` \
                    ORDER BY `Number of Accidents` DESC")
query5.show()

+-----------------------+-----------------+-------------------+
|Road_Surface_Conditions|Accident_Severity|Number of Accidents|
+-----------------------+-----------------+-------------------+
|                    Dry|           Slight|            1198571|
|            Wet or damp|           Slight|             482987|
|                    Dry|          Serious|             201925|
|            Wet or damp|          Serious|              77519|
|           Frost or ice|           Slight|              35057|
|                    Dry|            Fatal|              17719|
|                   Snow|           Slight|              10847|
|            Wet or damp|            Fatal|               8057|
|           Frost or ice|          Serious|               4841|
|   Data missing or o...|           Slight|               4693|
|   Flood over 3cm. deep|           Slight|               2393|
|                   Snow|          Serious|               1230|
|   Data missing or o...|          Serious|                430|
|           Frost or ice|            Fatal|                423|
|   Flood over 3cm. deep|          Serious|                394|
|                   Snow|            Fatal|                 90|
|   Flood over 3cm. deep|            Fatal|                 58|
|   Data missing or o...|            Fatal|                 22|
+-----------------------+-----------------+-------------------+

In [23]:
#6. Find out the effect of road type on the severity of accidents

query6 = spark.sql("SELECT `Road_Type`,`Accident_Severity`, COUNT(Accident_Severity) as `Number of Accidents` \
                    FROM traffic_accidents \
                    GROUP BY `Road_Type`,`Accident_Severity` \
                    ORDER BY `Number of Accidents` DESC")
query6.show()

+--------------------+-----------------+-------------------+
|           Road_Type|Accident_Severity|Number of Accidents|
+--------------------+-----------------+-------------------+
|  Single carriageway|           Slight|            1280847|
|    Dual carriageway|           Slight|             260566|
|  Single carriageway|          Serious|             226950|
|          Roundabout|           Slight|             123640|
|    Dual carriageway|          Serious|              37534|
|      One way street|           Slight|              37343|
|  Single carriageway|            Fatal|              20085|
|           Slip road|           Slight|              19388|
|             Unknown|           Slight|              12763|
|          Roundabout|          Serious|              12693|
|      One way street|          Serious|               5625|
|    Dual carriageway|            Fatal|               5307|
|           Slip road|          Serious|               2004|
|             Unknown|          Serious|               1533|
|          Roundabout|            Fatal|                421|
|      One way street|            Fatal|                290|
|           Slip road|            Fatal|                166|
|             Unknown|            Fatal|                100|
|Data missing or o...|           Slight|                  1|
+--------------------+-----------------+-------------------+

In [24]:
#7. Find out the effect of light condition on the severity of accidents

query7 = spark.sql("SELECT `Light_Conditions`,`Accident_Severity`, COUNT(Accident_Severity) as `Number of Accidents` \
                    FROM traffic_accidents \
                    GROUP BY `Light_Conditions`,`Accident_Severity` \
                    ORDER BY `Number of Accidents` DESC")
query7.show()

+--------------------+-----------------+-------------------+
|    Light_Conditions|Accident_Severity|Number of Accidents|
+--------------------+-----------------+-------------------+
|            Daylight|           Slight|            1283012|
|Darkness - lights...|           Slight|             337204|
|            Daylight|          Serious|             197630|
|Darkness - no lig...|           Slight|              85306|
|Darkness - lights...|          Serious|              61492|
|Darkness - no lig...|          Serious|              22396|
|Darkness - lighti...|           Slight|              20800|
|            Daylight|            Fatal|              15479|
|Darkness - lights...|           Slight|               8213|
|Darkness - lights...|            Fatal|               5448|
|Darkness - no lig...|            Fatal|               4942|
|Darkness - lighti...|          Serious|               3253|
|Darkness - lights...|          Serious|               1568|
|Darkness - lighti...|            Fatal|                309|
|Darkness - lights...|            Fatal|                190|
|Data missing or o...|           Slight|                 13|
|Data missing or o...|            Fatal|                  1|
+--------------------+-----------------+-------------------+

In [25]:
#8. Counting the number of casualties each year

query8 = spark.sql("SELECT `Year`, SUM(`Number_of_Casualties`) as `Total Number of Casualties` \
                    FROM traffic_accidents \
                    GROUP BY `Year` \
                    ORDER BY `Year` ASC")
query8.show()

+----+--------------------------+
|Year|Total Number of Casualties|
+----+--------------------------+
|2005|                    271017|
|2006|                    258404|
|2007|                    247780|
|2008|                    230905|
|2009|                    222146|
|2010|                    208648|
|2011|                    203950|
|2012|                    195723|
|2013|                    183670|
|2014|                    194477|
|2015|                    186189|
|2016|                    181384|
|2017|                    170993|
+----+--------------------------+

In [26]:
#9. Counting the number of casualties each year

query9 = spark.sql("SELECT `Sex_of_Driver`, COUNT(`Sex_of_Driver`) as `Total` \
                    FROM vehicle \
                    GROUP BY `Sex_of_Driver` \
                    ORDER BY `Total` DESC")
query9.show()

+--------------------+-------+
|       Sex_of_Driver|  Total|
+--------------------+-------+
|                Male|1468081|
|              Female| 633005|
|           Not known|  76051|
|Data missing or o...|     68|
+--------------------+-------+

In [27]:
#10. Find out the effect of vehicle types on the number of accidents

query10 = spark.sql("SELECT `Vehicle_Type`, COUNT(`Vehicle_Type`) as `Total` \
                    FROM vehicle \
                    GROUP BY `Vehicle_Type` \
                    ORDER BY `Total` DESC")
query10.show(50)

+--------------------+-------+
|        Vehicle_Type|  Total|
+--------------------+-------+
|                 Car|1528628|
|Van / Goods 3.5 t...| 117427|
|                 109|  82920|
|Bus or coach (17 ...|  76757|
|Motorcycle over 5...|  71472|
|Motorcycle 125cc ...|  61600|
|Goods 7.5 tonnes ...|  55426|
|Taxi/Private hire...|  43781|
|         Pedal cycle|  38904|
|Motorcycle 50cc a...|  22415|
|Motorcycle over 1...|  20960|
|Goods over 3.5t. ...|  18236|
|       Other vehicle|  13994|
|                 106|   7568|
|Agricultural vehicle|   6018|
|Minibus (8 - 16 p...|   5900|
|Goods vehicle - u...|   1876|
|                 108|   1334|
|Motorcycle - unkn...|    741|
|    Mobility scooter|    502|
|Data missing or o...|    401|
|        Ridden horse|    224|
| Electric motorcycle|     78|
|                Tram|     43|
+--------------------+-------+

## 5. Save the Query Results

In [29]:
# Save the results to partitioned CSV
query10.write.option("header", "true") \
  .csv("/home/mocatfrio/Documents/big-data/tugas-1/result/query10.csv")

In [30]:
# Convert to Pandas
import pandas as pd

queryPandas = query10.toPandas()

In [31]:
# Save to single CSV
queryPandas.to_csv("/home/mocatfrio/Documents/big-data/tugas-1/result/queryPandas.csv", index=False)